/*basic structure*/
.header, .one, .two, .three, .four, .footer {
    padding-left: 120px;
    padding-right: 120px;
    font-family: Roboto, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
}
/*background colors*/
.header, .one, .footer{
    background-color: #1f2937;
    color: white;
}
.three {
    background-color: #e5e7eb;
    padding-left: 160px;
    padding-right: 160px;
}
/*header stuff*/
.header {
    display: flex;
    justify-content: space-between;
}
h3 {
    font-size: 24px;
    color: #f9faf8;
}
.links {
    padding-top: 30px;
    display: flex;
    gap: 25px;
    font-weight: 18px;
    color: #e5e7eb;
}
/*one stuff*/
.one {
    display: flex;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.left {
    flex: 1 1 0;
}
h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin-bottom: 0px;
}
.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0px;
}
button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 8px;
    font-size: 18px;
}
.placeholder {
    background-color: grey;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*two stuff*/
.info-header {
    color: #1f2937;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    gap: 10px;
}
.info-holder {
    display: flex;
    justify-content: space-around;
}
.group {
    width: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.info {
    border: 4px solid #3882f6;
    height: 150px;
    width: 150px;
    flex: 1 1 auto;
    border-radius: 12px;
}
/*three stuff*/
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: lighter;
    margin-bottom: 0px;
}
.author {
    text-align: end;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 0px;
}
/*four stuff*/
.four {
    display: flex;
}
.four-sub {
    height: 125px;
    width: 2000px;
    background-color: #3882f6;
    flex: 1 1 auto;
    margin: 50px;
    border-radius: 12px;
    display: flex;
    justify-content: space-evenly;
}
.text {
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text h3, .text p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.button-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}
.four-sub button {
    border-color: #f9faf8;
    border-width: 3px;
}